@import url('https://fonts.cdnfonts.com/css/ubuntu-mono');


:root {
  /* COLORS */
  --blackPrimary: #242424;

  --blueLightLogo: #9DCBED;
  --blueDarkLogo: #4A8CC9;
  --greenLightLogo: #9FC755;
  --greenDarkLogo: #54A055;
  --orangeLightLogo: #F29077;
  --orangeDarkLogo: #D14939;
  --purpleLightLogo: #9349b0;
  --purpleDarkLogo: #662583;

  /* FONTS */
  --fontPrimary: 'Ubuntu Mono', sans-serif;
}

/* RESET CSS */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--blackPrimary);
  color: white;

  font-family: var(--fontPrimary);
}

/* CUSTOM STYLE */
.bgBlue {
  background: linear-gradient(150deg, var(--blueLightLogo), var(--blueDarkLogo));
}

.bgGreen {
  background: linear-gradient(150deg, var(--greenLightLogo), var(--greenDarkLogo));
}

.bgOrange {
  background: linear-gradient(150deg, var(--orangeLightLogo), var(--orangeDarkLogo));
}

.bgPurple {
  background: linear-gradient(150deg, var(--purpleLightLogo), var(--purpleDarkLogo));
}

.cursor-pointer {
  cursor: pointer;
}

/* SCROLL - BACK */
::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar {
  background-color: gray;
} */

/* SCROLL - FRONT */
::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: gray;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: white;
}